/*basket*/
.basket {
    background: url('../../assets/basket-page-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 85vh;
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
.basket__products {
    width: 65%;
}
.basket__summary {
    width: 30%;
}