/*basket*/
.basket {
    background: url('../../assets/basket-page-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 85vh;
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.basket__products {
    width: 65%;
}

.basket__summary {
    width: 30%;
}

.page-input {
    all: unset;
    font-weight: 900;
    color: white;
    text-align: center;
    padding: 3px;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    border: 3px solid white;
}

.page-input::-webkit-inner-spin-button {
    display: none;
}

.basket__products-pagination {
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.688);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket__products-pagination p {
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    font-size: 20px;
    margin-right: 10px;
}

.basket__products-pagination-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}