.main-page {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: linear-gradient(to right, #1abc9c, #16a085, #2ecc71, #27ae60, #3498db, #2980b9, #9b59b6, #8e44ad, #f1c40f, #f39c12, #e67e22, #d35400);
    background-size: 400%;
    animation: bganimation 20s infinite;
    min-height: 85vh;
    width: 100%;
}


@keyframes bganimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}