* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
}



body,
html {
    background-color: white;
    height: 100vh;
    max-width: 1920px;
    margin: 0, auto;
    padding: 0 15px 0 15px;
}

.main {
    background-image: url(https://cdn.dribbble.com/userupload/4148458/file/original-0458a617aced6a03c82abe1b9f08cff3.png?compress=1&resize=1024x768);
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    min-height: 100%;
}