.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(51, 54, 54);
  height: 80px;

}

.sidebar__links-logo {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.2em;

}

.sidebar {
  font-size: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-family: 1em;
}

.sidebar a {
  text-transform: uppercase;
  font-weight: 900;
  transition: all 0.3s;
}

.sidebar__links a {
  margin-right: 15px;
}

.header__price {
  color: white;
}
.header__basket {
  position: relative;
}
.basket-icon {
  width: 60px;
  filter: invert(1);
}
.header__basket-amount {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  top: 14px;
  left: 35px;
  width: 25px;
  height: 25px;
  background-color: #181a1c;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  border: 1px solid rgb(243, 243, 243);
  font-size: 14px;
  border-radius: 50%;
  font-weight: 900;
}