.error {
    color: red;
}

.modal__window {
    width: 100vh;
    height: 100vh;
    background-color: rgba(207, 78, 78, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
}

.modal__window.active {
    opacity: 1;
    pointer-events: all;
}

input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.modal__form {
    border-radius: 12px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: black;
    padding: 50px 50px 50px 50px;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal__form.active {
    transform: scale(1);
}