.error {
    color: red;
}

.modal__window {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;

}

.modal__window.active {
    opacity: 1;
    pointer-events: all;
}

.modal__window-input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
}

.modal__form {
    width: 600px;
    border-radius: 12px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: black;
    padding: 50px 50px 50px 50px;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal__form.active {
    transform: scale(1);
}

.modal__window-title,
.credit__card-title {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.5em;
}

.img__modal {
    width: 35px;
    height: 35px;
}

.submit__button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    margin-top: 15px;
}

.submit__button.active {
    color: red;
}

/*
.submit__button:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
    color: blue;
}

.submit__button:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(146, 148, 248, 0.4),
            transparent);
    transition: all 650ms;
}

.submit__button:hover:before {
    left: 100%;
}
*/

.card-form {
    /* display: flex;
    flex-direction: column;*/
    margin-top: 10px;
}

.card-form input {
    padding: 6px;
    width: 250px;
    background: transparent;
    color: white;
    margin: 2px;
    border: transparent;
}
.complet-confirm {
    padding: 150px;
    background-color: rgba(0, 0, 0, 0.769);
    border-radius: 16px;
    border: 5px solid green;
    text-align: center;
    color: rgb(1, 165, 1);
    letter-spacing: 1.2rem;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
}
.complet-confirm span {
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: normal;
}
