a,
.footer__name-student {
  color: white;
  text-decoration: none;
  position: relative;
}

a:hover:before,
.footer__name-student:hover:before {
  clip: rect(0, 190px, 190px, 0);
}

a:before,
.footer__name-student:before {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(data-content);
  display: inline-block;
  color: orange;
  width: 100%;
  clip: rect(0, 0, 190px, 0);
  -webkit-transition: clip cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
  transition: clip cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
}